version: "3.8"

services:
  backend:
    build: ./backend-nest
    container_name: backend-nest
    expose:
      - "3000"
    env_file:
      - ./backend-nest/.env
    restart: always
    networks:
      - app-network

  frontend:
    build: ./frontend-angular
    container_name: frontend-angular
    expose:
      - "80"
    depends_on:
      - backend
    restart: always
    networks:
      - app-network

  nginx-proxy:
    image: nginx:alpine
    container_name: nginx-proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - certbot-conf:/etc/letsencrypt:ro
      - certbot-www:/var/www/certbot:ro
    depends_on:
      - frontend
      - backend
    restart: always
    networks:
      - app-network

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - certbot-conf:/etc/letsencrypt
      - certbot-www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
    networks:
      - app-network

volumes:
  certbot-conf:
  certbot-www:

networks:
  app-network:
    driver: bridge
